/* ========== REMOVE ARROWS ON LINKED DATABASES/PAGES ========== */
svg.alias, .notion-collection_view-block [style="display: flex; align-items: center; margin-right: 6px;"] {
  display: none !important;
}
/* Remove in page mentions */
.notion-page-mention-token [style="width:1em;display:inline-block;vertical-align:-0.15em;margin-right:0.1em"] {
  width: 2px !important;
}



/* ========== EVEN PADDING ON CODE BLOCKS ========== */
.notion-code-block.line-numbers > div {
  padding-top: 43px !important;
  padding-bottom: 14px !important;
}
.notion-code-block:not(.line-numbers) .line-numbers + div + div {
    top: 13px !important;
}

/* ========== BIGGER ICONS IN CALENDAR VIEW ========== */
.notion-calendar-view .notion-record-icon {
  width: 16px !important;
  height: 16px !important;
  margin-top: 0 !important;
}
.notion-calendar-view .notion-record-icon * {
  width: 100% !important;
  height: 100% !important;
}