/* ========== REMOVE ARROWS ON LINKED DATABASES/PAGES ========== */
svg.alias {
  display: none !important;
}

/* ========== HORIZONTAL SCROLL FOR DATABASE HEADERS ========== */
/* Database Pages */
.notion-frame > .notion-scroller > [style*="overflow: visible;"],
/* Inline Databases */
.notion-page-content .notion-collection_view-block > div {
    overflow-x: auto !important;
}

/* Hide Scrollbar */
.notion-frame > .notion-scroller > :first-child::-webkit-scrollbar,
.notion-page-content .notion-collection_view-block > :first-child::-webkit-scrollbar {
    display: none;
}

/* ========== EVEN PADDING ON CODE BLOCKS ========== */
.notion-code-block.line-numbers > div {
  padding-top: 18px !important;
  padding-bottom: 20px !important;
}